<div class="mainDiv">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <!-- <span class="d-block d-lg-none">Amir Yamini</span> -->
      <span class="d-none d-lg-block">
        <img class="collapse navbar-collapse img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/Headshot.jpg" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <!-- <span class="fas fa-bars"></span> -->
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">
            <i class="fas fa-user fa-1x"></i>&nbsp;&nbsp;About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">
            <i class="fas fa-balance-scale fa-1x"></i>&nbsp;&nbsp;Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">
            <i class="fas fa-graduation-cap fa-1x"></i>&nbsp;&nbsp;Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">
            <i class="fas fa-wrench fa-1x"></i>&nbsp;&nbsp;Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">
            <i class="fas fa-volleyball-ball fa-1x"></i>&nbsp;&nbsp;Interests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#projects">
            <i class="fas fa-folder-open fa-1x"></i>&nbsp;&nbsp;Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact-me">
            <i class="fas fa-comments"></i>&nbsp;&nbsp;Contact Me</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="basicInfo container-fluid p-0">

    <section class="resume-section container-fluid p-3 p-lg-5 d-flex d-column text-center" id="about">
      <div class="my-auto1">
        <h1 class="mb-0">Amir
          <span class="text-primary container-fluid">Yamini</span>
        </h1>
        <div class="subheading mb-5 losAngelesCA container-fluid">Los Angeles, CA · (310) 344-6728 ·
          <a class="email" href="mailto:name@email.com">hello@amiryamini.com</a>
        </div>
        <p class="mb-5 losAngelesCA container-fluid">I am a Software Developer with the intention of becoming a Patent Attorney. I believe my analytical reasoning and critical thinking skills will serve a great part in the technological advancements our world can make. I am currently looking for different opportunities that can help me broaden my experiences.</p>
        <ul class="list-inline list-social-icons container-fluid mb-0">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/ayamini21" target="_new">
              <i class="fab fa-facebook fa-3x"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/amir-yamini-303175142/" target="_new">
              <i class="fab fa-linkedin fa-3x"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/amiryami/?hl=en" target="_new">
              <i class="fab fa-instagram fa-3x"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="mailto:hello@amiryamini.com">
              <i class="fas fa-envelope-square fa-3x"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/amiryamini" target="_new">
              <i class="fab fa-github-square fa-3x"></i>
            </a>
          </li>
        </ul>
      </div>
      <!-- 
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="assets/newyork.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="assets/stage.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="assets/michigan.jpg" alt="Third slide">
            </div>
            <div class="carousel-item">
                <img class="d-block img-fluid" src="assets/nowruz.jpg" alt="Fourth slide">
              </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div> -->

    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
      <div class="my-auto">
        <h2 class="mb-5">Experience</h2>

        <!-- <div class="resume-item d-flex flex-column flex-md-row mb-5"> -->
        <!-- animated slide-in-top slide-in-top-animation -->
        <div class="resume-box resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Sr. Case Manager</h3>
            <div class="subheading mb-3">
              <img class="burgBrock" src="assets/BB.png" alt="">
            </div>
            <div class="CSUNSub">
              <div class="">
                <p class="subheading mb-3">Law Offices of Burg & Brock, APLC</p>
              </div>
              <div class="">
                <p>Primary task is personal case management. Case load of one hundred or more cases in any given period of time.
                  Handling all aspects of a case from beginning to end until time for trial or settlement. Writing and preparing
                  numerous legal documents, settlement demands, etc., for the supervising attorneys. Other tasks performed
                  include, but not limited to the following: legal research to assist in establishing precedent; interviewing
                  clients; investigating facts; monitoring case progression; etc.</p>
              </div>
            </div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">March 2015 - August 2018</span>
          </div>
        </div>
        <!-- break -->
        <!-- animated slide-in-top slide-in-top-animation -->
        <div class="resume-box resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Product Owner</h3>
            <div class="subheading mb-3">
              <img class="FourYears" src="assets/fouryears.png" alt="">
            </div>
            <div class="CSUNSub">
              <div class="">
                <p class="subheading mb-3">Four Years</p>
              </div>
              <div class="">
                <p>This idea began as a mission to help as many students as possible to graduate in four years. It eventually
                  evolved into me forming a team to develop a web application to help with the process. As the project lead
                  and visionary behind this web application, I have a hand in all aspects of it from design and implementation
                  to product marketing. We would like to modernize the process of getting an education by providing students
                  access to the Four Years platform. Four Years is an online customizable tool that will help you create
                  a four-year plan for graduation. Go to
                  <a class="fouryears" href="http://www.fouryears.net" target="_new">fouryears.net</a> and plan your future today. </p>
              </div>
            </div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">July 2017 - Present</span>
          </div>
        </div>
        <!-- animated slide-in-top slide-in-top-animation -->
        <div class="resume-box resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">President</h3>
            <div class="subheading mb-3">
              <img class="acmLogo" src="assets/acmLogo.png" alt="">
            </div>
            <div class="CSUNSub">
              <div class="">
                <p class="subheading mb-3">Association for Computing Machinery, CSUN Chapter</p>
              </div>
              <div class="">
                <p>Serving as the President of the ACM CSUN Student Chapter entails many responsibilities such as: meeting organization;
                  peer mentoring; student recruitment; event coordination, and managing our public relations with outside
                  organizations or companies. My main goal as the President is to show students that they can do so much
                  with their computer science degree.</p>
              </div>
            </div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2017 - May 2018</span>
          </div>
        </div>
      </div>

    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
      <div class="my-auto">
        <h2 class="mb-5">Education</h2>

        <!-- animated slide-in-top slide-in-top-animation -->
        <div class="resume-box resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Santa Clara University School of Law</h3>
            <div class="subheading mb-3">
              <img class="bigCSUN" src="assets/SCUSeal.png" alt="">
            </div>
            <div class="CSUNSub">
              <div class="">
                <p class="subheading mb-3">Juris Doctor</p>
                <p>GPA: TBD</p>
              </div>
              <div class="">
                <p>Santa Clara University School of Law, one of the nation’s most diverse law schools, is dedicated to educating lawyers who lead with a commitment to excellence, ethics, and social justice. Santa Clara Law offers students an academically rigorous program including certificates in high tech law, international law, public interest and social justice law, and privacy law, as well as numerous graduate and joint degree options. Located in the heart of Silicon Valley, Santa Clara Law is nationally distinguished for its faculty engagement, preparation for practice, and top-ranked programs in intellectual property.</p>
              </div>
            </div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2018 - May 2021</span>
          </div>
        </div>

        <!-- animated slide-in-top slide-in-top-animation -->
        <div class="resume-box resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">California State University, Northridge</h3>
            <div class="subheading mb-3">
              <img class="bigCSUN" src="assets/CSUN.png" alt="">
            </div>
            <div class="CSUNSub">
              <div class="">
                <p class="subheading mb-3">B.S., Computer Science</p>
                <p>GPA: 3.33</p>
              </div>
              <div class="">
                <p>The B.S. degree in Computer Science provides a broad knowledge of computing and is designed for students
                  who desire: (a) to pursue graduate work in computer science and (b) to work on the development and support
                  of software projects in a diverse range of specialized areas. The B.S. degree program in Computer Science
                  is accredited by the Computing Accreditation Commission of ABET, http://www.abet.org</p>
              </div>
            </div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2014 - May 2018</span>
          </div>
        </div>

        <!-- animated slide-in-top slide-in-top-animation -->
        <div class="resume-box resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">University of California, Irvine School of Law</h3>
            <div class="subheading mb-3">
              <img class="bigCSUN" src="assets/uci_seal.jpg" alt="">
            </div>
            <div class="CSUNSub">
              <div class="">
                <p class="subheading mb-3">Pre-Law Outreach Program</p>
                <p>Certificate of Completition</p>
              </div>
              <div class="">
                <p>On completion of the Pre-Law Outreach Program, a highly competitive and intensive program for pre-law students
                  from diverse backgrounds. The Program included sessions on negotiation, oral argument, as well as numerous
                  speakers and lessons for law school preparation.</p>
              </div>
            </div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">June 2017 - July 2017</span>
          </div>
        </div>


      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
      <div class="Skills my-auto">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline list-icons">
          <li class="list-inline-item">
            <i class="devicon-mongodb-plain"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-express-original"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-angularjs-plain"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-nodejs-plain"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-java-plain"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-python-plain"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-c-plain"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-linux-plain"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-apache-plain-wordmark"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-mysql-plain"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-php-plain"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-html5-plain"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-css3-plain"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-bootstrap-plain"></i>
          </li>
          <!-- <li class="list-inline-item">
            <i class="devicon-ubuntu-plain"></i>
          </li> -->
          <!-- <li class="list-inline-item">
            <i class="devicon-vuejs-plain"></i>
          </li> -->
          <li class="list-inline-item">
            <i class="devicon-amazonwebservices-plain"></i>
          </li>
        </ul>

      </div>
      <div class="card-deck">
        <div class="card">
          <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
          <div class="card-header">
            <h5 class="card-title">Languages</h5>
          </div>
          <ul class="list-inline list-icons">
            <li class="line-inline-item">
              <p class="card-text"></p>
              <p class="card-text">English</p>
              <p class="card-text">
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
              </p>
            </li>
            <li class="line-inline-item">
              <p class="card-text"></p>
              <p class="card-text">Farsi</p>
              <p class="card-text">
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
              </p>
            </li>
            <li class="line-inline-item">
              <p class="card-text"></p>
              <p class="card-text">French</p>
              <p class="card-text">
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
                <i class="star fas fa-star"></i>
              </p>
            </li>
          </ul>
        </div>

        <div class="card">
          <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
          <div class="card-header">
            <h5 class="card-title">Industry Knowledge</h5>
          </div>
          <ul class="list-inline list-icons">
            <li class="line-inline-item">
              <p class="card-text"></p>
              <p class="card-text">Public Speaking </p>
              <p class="card-text">
                <i class="fas fa-volume-up"></i>
                <i class="fas fa-volume-up"></i>
                <i class="fas fa-volume-up"></i>
                <i class="fas fa-volume-up"></i>
                <i class="fas fa-volume-up"></i>
              </p>
            </li>
            <li class="line-inline-item">
              <p class="card-text"></p>
              <p class="card-text">Writing </p>
              <p class="card-text">
                <i class="fas fa-pencil-alt"></i>
                <i class="fas fa-pencil-alt"></i>
                <i class="fas fa-pencil-alt"></i>
                <i class="fas fa-pencil-alt"></i>
                <i class="fas fa-pencil-alt"></i>
              </p>
            </li>
            <li class="line-inline-item">
              <p class="card-text"></p>
              <p class="card-text">Video Production </p>
              <p class="card-text">
                <i class="fas fa-video"></i>
                <i class="fas fa-video"></i>
                <i class="fas fa-video"></i>
                <i class="fas fa-video"></i>
              </p>
            </li>
          </ul>
        </div>

        <div class="card">
          <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
          <div class="card-header">
            <h5 class="card-title">Awards</h5>
          </div>
          <ul class="list-inline list-icons">
            <li class="line-inline-item">
              <p class="card-text"></p>
              <p class="card-text">Honors Convocation - Personal Achievment</p>
              <p class="card-text">Dean's List - 3 Semesters</p>
              <!-- <p class="card-text"> 3 Semesters</p>
              <p class="card-text">
                <i class="fas fa-check"></i>
                <i class="fas fa-check"></i>
                <i class="fas fa-check"></i>
              </p> -->
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
      <div class="my-auto">
        <h2 class="mb-5">Interests</h2>
        <p>Outside of my constant back and forth between home and university and home and the office you can find me always
          looking to do new things. I was never a fan of video games growing up because the enjoyment I had being outdoors could never be replaced by a new highscore.
          Whether it's a hiking trail, festival, or a cool dive bar, I am always open to trying new experiences. My motto in life is that
          if it's going to make a great story then it's worth doing.</p>
        <p>I have always wanted to be an attorney because of my passion to help and protect people. I have also always been deeply interested in how we can use technology to better our daily lives. My choice to combine my two passions seemed like the best career path I could take as it would open the door to so many possibilities for me. </p>
      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects">
      <div class="my-auto">
        <h2 class="mb-5">Past Projects</h2>

        <p>Some of my favorite projects can be found on my GitHub. Here I would like to show you more of what I have worked
          on.
        </p>
        <p class="card-text"></p>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Personal Website</h3>
            <div class="subheading mb-3">A website built using HTML, CSS, Bootstrap, JavaScript and Angular</div>
            <p>After the completion of an Advanced Web Engineering course, I decided to take what I had learned and apply it
              to my personal website. I had a lot of fun making this website because it gave me a chance to bring my outdated
              paper resume to life and get creative with it.</p>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Hangman</h3>
            <div class="subheading mb-3">A desktop application built using JavaFX</div>
            <p>As part of a four-person team, we were tasked with improving a standard hangman game. This project was done as
              part of a Graphic User Interface course. With the use of JavaFX, we improved our hangman experience from top
              to bottom. If you do not guess the word within 5 turns or less, you will be sent to the shadow realm.</p>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">All Bottled Up</h3>
            <div class="subheading mb-3">A desktop application built using Unity</div>
            <p>All Bottled Up is the origin story of a robot that is on a quest to understand his human emotions. On his quest
              he must collect the emotions he is trying to understand in order to progress, overcome challenges presented
              to him, and to find out why he was created. This project was built as part of a Software Engineering group
              project. Our team went as far as to complete a desktop application for both Windows and Mac for everyone to
              enjoy.
            </p>
          </div>
        </div>

      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="contact-me">
      <div class="my-auto">
        <h2 class="mb-5">Contact Me</h2>
        <div class="container-fluid">
          <iframe src="https://calendar.google.com/calendar/embed?src=b2brhlhni58ak8jeharaork4ts%40group.calendar.google.com&ctz=America%2FLos_Angeles"
            style="border: 0" width="1000" height="700" frameborder="0" scrolling="no"></iframe>
        </div>
      </div>
    </section>
  </div>

</div>